# ===============================
#  PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
*.egg

# Виртуальные окружения
.env
.env.*
.env.test
.venv/
venv/

# ===============================
#  КЭШИ / COVERAGE
# ===============================
.cache/
.mypy_cache/
.pytest_cache/
coverage/
htmlcov/
*.coverage
.ruff_cache/

# ===============================
#  СБОРКА
# ===============================
dist/
build/
*.spec

# ===============================
#  IDE / EDITORS
# ===============================
.vscode/
.idea/

# ===============================
#  DOCKER
# ===============================
*.log
docker-data/
.docker/

# ===============================
#  ОС
# ===============================
.DS_Store
Thumbs.db

# ===============================
#  ПРОЧЕЕ (не для проды)
# ===============================
README.md.bak
TODO.md
structure.txt
commands.txt
.treeignore

# Alembic служебные каталоги
alembic/**/__pycache__/
alembic/versions/__pycache__/
